<% if (config.author) { %>
© 2019 <%= config.author %>
<% } else { %>
© 2019
<% } %>
<br>
内容提供 <a href="http://www.bclz.work" target="_blank">边城浪子</a>.&nbsp;Content Provider <a href="http://www.bclz.work" target="_blank">AUTHOR</a>